* { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.game-container {
	position: relative;
	margin: auto;
	width: 600px;
	max-width: 90vw;
	height: 90vh;
	border: 2px solid #000;
	overflow: hidden;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#363636),to(#000000));
}

.game-word {
	color: #dadada;
	text-shadow: 1px 1px 10px #cccccc;
	position: absolute;
	left: 50%;
	transition-property: color;
	transition-duration: 0.2s;
	z-index: 0;
}

.highlighted {
	color: #dab032;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	transition-property: color;
	transition-duration: 0.3s;
}

.info-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	opacity: 0.2;
	color: #b8cdb9;
}

.info-container p {
	margin: 0;
	font-size: 30px;
	line-height: 4em;
}

#player-score {
	font-size: 10em;
}

#player-lives {
	font-size: 5em;
	line-height: 0em;
}

.typed {
	color: #94f178;
}

.pause-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #180b33;
	opacity: 0.7;
	z-index: 100;
}

.pause-screen p {
	font-size: 5em;
	text-align: center;
	color: #ffffff;
}
