* { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.game-container {
	position: relative;
	margin: auto;
	width: 600px;
	max-width: 90vw;
	height: 90vh;
	border: 2px solid #000;
	overflow: hidden;
}

.game-word {
	position: absolute;
	left: 50%;

}

.first::first-letter {
	color: rgb(124, 213, 24);
}
