* { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.game-container {
	position: relative;
	margin: auto;
	width: 600px;
	max-width: 90vw;
	height: 90vh;
	border: 2px solid #000;
	overflow: hidden;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4aa13c),to(#18620c));
}

.game-word {
	color: #dadada;
	text-shadow: 1px 1px 10px #66d765;
	position: absolute;
	left: 50%;
}

.score-container {
	position: absolute;
	margin: 10px;
	bottom: 0;
	left: 0;
	color: #b8cdb9;
}

.score-container p {
	margin: 0;
}

.typed {
	color: #b8cdb9;
}
